body{
    width: 80%;
    margin: 0 auto;
    font-family: 'Bitter', 'serif';
    background-color: #D1DBBD;
}
h1{
    font-family: 'Raleway', 'sans-serif'; 
    font-weight: 900;
    font-size: 3em;
}
h2{
    font-family: 'Raleway', 'sans-serif'; 
    font-weight: 600;
}
.intro{
    font-size: 1.2em;
    padding-bottom: 1em;
    border-bottom: 1px dashed #777; 
}
.expandy{
    display: block;
}
.expandy.expandy-hidden{
    display: none;
}
.expandy-toggle{
    cursor: pointer;   
}
.expandy-toggle:after{
    content: ' [+]';
}
.expandy-toggle.expandy-hidden:after{
    content: ' [-]';
}