.expandy{
    display: block;
}
.expandy.expandy-hidden{
    display: none;
}
.expandy-toggle{
    cursor: pointer;   
}
.expandy-toggle:selection{ background-color: transparent;}
.expandy-toggle:moz-selection{ background-color: transparent;}
.expandy-toggle:webkit-selection{ background-color: transparent;}
.expandy-toggle:after{
    content: ' [+]';
}
.expandy-toggle.expandy-hidden:after{
    content: ' [-]';
}